.heroContainer {
  background-image: url("../../img/camper-background-2x.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 90vh;
  display: flex;
    align-items: flex-start;
}
.wrapper {
  color: var(--inputs);
}
.title {
  margin-bottom: 16px;
  font-weight: 600;
  font-size: 48px;
  line-height: 67%;
}
.descr {
  margin-bottom: 40px;
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
}
