
.formContainer {
  border: 1px solid var(--gray-light);
  border-radius: 10px;
  padding: 44px;
  width: 641px;


}
.title {
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  color: var(--main);
  margin-bottom: 8px;
}
.descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--gray);
  margin-bottom: 24px;
}
.form {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.input {
  width: 100%;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--main);
  border: none;
  border-radius: 12px;
  padding: 18px 18px;

  background-color: var(--inputs);
}
.inputComment{
   resize: vertical;
}
.error {
  color: var(--button);
  width: 100%;
}
.btn {
  max-width: 166px;
}