.linkList {
    display: flex;
    gap: 40px;
}
.linkItem {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 20px;
    line-height: 120%;
    color: var(--main);
    padding-bottom: 7px;
}
.activeLink {
    border-bottom: 5px solid var(--button);
    z-index: 1999;
    position: relative;
}