.input {
  width: 100%;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--main);
  border: none;
  border-radius: 12px;
  padding: 18px 18px;
  height: 60px;
  background-color: var(--inputs);
}
.datePickerContainer {
  position: relative;
}

