.camperContainer{
    padding-top: 48px;
    padding-bottom: 80px;
    display: flex;
    flex-direction: column;
    align-items: baseline;
}
.name{

    font-weight: 600;
    font-size: 24px;
    line-height: 133%;
    color: var(--main);
    margin-bottom: 8px;
}
.camper{
    margin-bottom: 16px;
}
.price{

    font-weight: 600;
    font-size: 24px;
    line-height: 133%;
    color: var(--main);
    margin-bottom: 28px;
}
.descr{
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--text);
    margin-bottom: 60px;
}
.linkList{
    display: flex;
    gap: 40px;
}