.camperContainer {
  padding-top: 48px;
  padding-bottom: 80px;
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.hr {
  border: none;
  border-top: 1px solid var(--gray-light);
  width: 100%;
  margin-bottom: 44px;
}

.wrapperBottom {
  display: flex;
  gap: 40px;
}
