.cover {
  display: flex;
  align-items: center;
  gap: 16px;

}
.coverRating {
  display: flex;
  fill: var(--rating);
  align-items: center;
  gap: 4px;
  text-decoration: underline;
}
.coverLocation {
  display: flex;
  align-items: center;
  gap: 4px;
}