.cover {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 24px;
}
.coverRating {
  display: flex;
  fill: var(--rating);
  align-items: center;
  gap: 4px;
}
.coverLocation {
  display: flex;
  align-items: center;
  gap: 4px;
}