.vehicleDetailsContainer {
  margin-top: 100px;
}
.title {
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  color: var(--main);
}
.hr {
  border: none;
  border-top: 1px solid var(--gray-light);
  width: 100%;
  margin-bottom: 24px;
  margin-top: 24px;
}
.wrapperAllDetails {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.details {
  display: flex;
  justify-content: space-between;
}
.dataDetails {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: var(--main);
}
