.vehicleListContainer{
    min-width: 890px;
}
.list{
max-width: 888px;
display: flex;
flex-direction: column;
gap: 32px;
}
.item{
border: 1px solid var(--gray-light);
    border-radius: 20px;
    padding: 24px;
   display: flex;
   gap: 24px;
}

.img{
border-radius: 10px;
   width:  292px;
    height: 320px;
    object-fit: cover;
}
.coverPrice{
    position: relative;
    left: 24px;
}
.price{

}
.heartIcon{

}